@tailwind base;

@layer base {
    h1 {
        font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    }

    h2 {
        font-size: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
    }

    a.link {
        @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600 dark:text-blue-400 dark:hover:text-blue-600 dark:visited:text-purple-400
    }
}

@tailwind components;

@tailwind utilities;

:root {
    color-scheme: light dark;
}