---
import Code from "astro/components/Code.astro";
import SimpleCode from "../SimpleCode.astro";

const examplePlatform = `{
    "platformType": "PC",
    "platformOS": "Windows",
    "platformOSVersion": "10.0.19042.1.256.64bit",
    "platformChipset": "Unknown"
}`

---

<p>
    A string representing the platform of the client. Base-64 encoded JSON with the following fields:
    <Code code={examplePlatform} lang="json" wrap/>
    <SimpleCode>ew0KCSJwbGF0Zm9ybVR5cGUiOiAiUEMiLA0KCSJwbGF0Zm9ybU9TIjogIldpbmRvd3MiLA0KCSJwbGF0Zm9ybU9TVmVyc2lvbiI6ICIxMC4wLjE5MDQyLjEuMjU2LjY0Yml0IiwNCgkicGxhdGZvcm1DaGlwc2V0IjogIlVua25vd24iDQp9</SimpleCode>
    is a value that works.
</p>