---
import SimpleCode from "../SimpleCode.astro";

---

<p>
    The password can be found from the lockfile (located at <SimpleCode>%LocalAppData%\Riot Games\Riot Client\Config\lockfile</SimpleCode>) when the game is running.
    The file has the format <SimpleCode>name:pid:port:password:protocol</SimpleCode>
</p>