---
import SimpleCode from "../SimpleCode.astro";

const shards = new Map<string, string[]>([
    ['na', ['latam', 'br', 'na']],
    ['pbe', ['na']],
    ['eu', ['eu']],
    ['ap', ['ap']],
    ['kr', ['kr']]
])

---

<p>
    The shard (sometimes incorrectly called "region") is dependent on where the Riot account was created.<br>
    There are {shards.size} shards:
    <table class="m-1 border rounded border-separate border-spacing-x-3 border-spacing-y-1">
        <thead class="font-semibold">
            <tr>
                <th>Shard</th>
                <th>Region(s)</th>
            </tr>
        </thead>
        <tbody>
            {Array.from(shards.entries()).map(([shard, regions]) => (
                <tr>
                    <td><SimpleCode>{shard}</SimpleCode></td>
                    <td>{regions.join(', ')}</td>
                </tr>
            ))}
        </tbody>
    </table>
    Obtaining locally:
    <p class="ml-6">
        The shard can be found in the ShooterGame log (<SimpleCode>%LocalAppData%\VALORANT\Saved\Logs\ShooterGame.log</SimpleCode>) when it's used in an endpoint url.<br/>
        Example regex capturing region and shard: <SimpleCode>https://glz-(.+?)-1.(.+?).a.pvp.net</SimpleCode>
    </p>
    Obtaining remotely:
    <p class="ml-6">
        The shard can be found from using a lookup table with the region.
        To find the region, use the <a class="link" href="/endpoint/riot-geo">Riot Geo</a> endpoint with the ID and auth tokens from <a class="link" href="/endpoint/cookie-reauth">Cookie Reauth</a>
    </p>
</p>