---
import Layout from "../layouts/Layout.astro";
---

<Layout title=" - Valorant API Docs">
    <div class="m-auto text-center">
        <h1>404</h1>
        <p>Sorry, seems this page doesn't exist.</p>
    </div>
</Layout>