---
import InsomniaButton from '../components/InsomniaButton.astro';
import SimpleCode from '../components/SimpleCode.astro';
import Layout from '../layouts/Layout.astro';

const insomniaImportURL = `insomnia://app/import?uri=${Astro.url.origin}/insomnia.json`
---

<Layout title="Valorant API Docs">
	<main class="mx-auto p-3 max-w-4xl text-lg leading-normal">
		<h1 class="text-center mb-8 text-4xl">Valorant API Docs <span class="text-gray-500 dark:text-gray-300 text-xl">(unofficial)</span></h1>

		<p>
			This is a site dedicated to documenting the Valorant API endpoints the client uses internally.
			These endpoints are <span class="font-bold">not</span> officially supported.
			However, as long as you use common sense and don't do anything a Riot employee would frown at, you won't get banned.
		</p>
		<p>
			You can join the Discord server here: <a class="link" href="https://discord.gg/a9yzrw3KAm">https://discord.gg/a9yzrw3KAm</a>
		</p>
		
		<h2 class="text-xl font-semibold mt-4 mb-2">Getting Started</h2>
		<p>
			One of the easiest ways to get started and get a feel for what kinds of data you can get from the apis is to play around with the requests yourself in a REST client like Insomnia.
			<ol class="list-decimal ml-6 space-y-2 my-2">
				<li>
					Download and install Insomnia here: <a class="link" href="https://insomnia.rest/download">https://insomnia.rest/download</a>
					<ul class="list-disc ml-6">
						<li>
							Recent updates to Insomnia require a Kong account. For a fork of Insomnia that does not require an account, see
							<a class="link" href="https://github.com/ArchGPT/insomnium">https://github.com/ArchGPT/insomnium</a>
						</li>
					</ul>
				</li>
				<li>
					<InsomniaButton href="insomnia://plugins/install?name=insomnia-plugin-valorant">Add insomnia-plugin-valorant</InsomniaButton>
					<ul class="list-disc ml-6">
						<li>
							This plugin autocompletes useful API placeholders such as auth info, lockfile data, and player info.
							For more info, see <a class="link" href="https://github.com/techchrism/insomnia-plugin-valorant">https://github.com/techchrism/insomnia-plugin-valorant</a>
						</li>
					</ul>
				</li>
				<li>
					<InsomniaButton href={insomniaImportURL}>Import Workspace</InsomniaButton>
				</li>
			</ol>
			You can right-click a request in Insomnia and click "Generate Code" to see how to make the request in the language and library of your choice.
		</p>

		<h2 class="text-xl font-semibold mt-4 mb-2">Investigating Endpoints</h2>
		<p>
			Endpoints are commonly found from the ShooterGame log located at <SimpleCode>%LocalAppData%\VALORANT\Saved\Logs\ShooterGame.log</SimpleCode>
			You can use <a class="link" href="https://github.com/techchrism/valorant-log-endpoint-scraper">Valorant Log Endpoint Scraper</a> to quickly export a list of endpoints and other urls found in the log.
		</p>

		<h2 class="text-xl font-semibold mt-4 mb-2">Prior Work</h2>
		<p>
			Documenting the endpoints and making them available is a team effort. Here are some notable contributions:
			<ul class="list-disc ml-6">
				<li>RumbleMike's <a class="link" href="https://github.com/HeyM1ke/ValorantClientAPI">ValorantClientAPI</a> repo</li>
				<li>Hidan's <a class="link" href="https://gist.github.com/Kavan72/b6e0bfdf21d610148f64df878b8a2cc5">endpoint gist</a></li>
				<li>The assistance of many in the Discord</li>
			</ul>
		</p>
	</main>
</Layout>